
.container-fluid {
    padding: 20px;
    float: left;
}

.grid-item {
    margin-bottom: 20px;
    float: left;
    width: 220px;
    display: inline;
}

.grid-item img {
    max-width: 100%
}
























