{% extends 'outis_base/base.html' %}
{% block outis_title %}Details{% endblock %}

{% block outis_staticfiles %}
{% load staticfiles %}
    <script src="{% static '/post/js/detail.js' %}"></script>
{% endblock %}


{% block outis_body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="jumbotron">
                            <div>
                                <a href="/user/peek/{{ object.authord_id_id }}">
                                    <span><img src="{{ MEDIA_URL }}{{ authord_logo }}" style="width:50px;height:50px;border-radius:50%;"></img></span>
                                    <span style="font-size:23px;">{{ object.authord_id }}</span>
                                </a>
                            </div>

                            <div>
                                <h2 id="postTitle">{{ object.title}}</h2>
                            </div>
                            <input style="display:none;" id="post_pk_input" value="{{ object.id }}" />
                            <p><img class="outisimg" src="{{ MEDIA_URL }}{{ object.attraction }}" width="100%"  />

                            <article>
                                {{ object.description }}</p>
                            </article>


                            <p>Category: {{ object.category_id}}</p>
                            <p>Link: <a href="{{ object.link}}">{{ object.link}}</a></p>
                            <p>Tag: {{ object.tag }}</p>


                            <span>
                                <span>
                                    <button ratting="up" class="btn btn-default glyphicon glyphicon-arrow-up postVote" type="button" title="I Like This" />
                                    <span class="button-content">{{ object.up }}</span>
                                </span>
                                <span>
                                    <button ratting="down" class="btn btn-default glyphicon glyphicon-arrow-down postVote" type="button" title="I dislike this" />
                                    <span class="button-content">{{ object.down }}</span>
                                </span>
                            </span>

                            <span>
                                <span>
                                    <button id="collectionCollectPost" class="btn btn-default glyphicon glyphicon-heart" type="button" title="Collect"     value="{{ object.id }}"/>
                                </span>

                                <span>
                                    <button id="collectionRemovePost" class="btn btn-default glyphicon glyphicon-remove" type="button" title="Remove"     value="{{ object.id }}"/>
                                </span>


                            </span>
                        </div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<h1>评论</h1>
<!-- Comment List -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7" id="commentDiv"></div>
    </div>
</div>



<!-- Comment add -->
<h1>我的评论</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">

                    <form action="{% url 'comment:post_comment' object.id %}" method="post" class="comment-form">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-12">
                            <div>
                              <label for="{{ form.content.id_for_label }}"></label>
                            </div>
                            <div>
                              {{ form.content }}
                            </div>
                          <button type="submit"><span>发表</span></button>
                        </div>
                      </div>    <!-- row -->
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>










{% endblock %}
