{% extends 'outis_base/base.html' %}
{% block outis_title %}Details{% endblock %}

{% block outis_body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">

					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <h1>{{ object.title}}</h1>
                        <p>Category: {{ object.category_id}}</p>
                        <p>Link: <a href="{{ object.link}}">Link</a></p>
                        <p>Description: {{ object.description }}</p>
                        <p>Tag: {{ object.tag }}</p>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" value="Update" class="btn btn-success">Update</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
