{% extends 'outis_base/base.html' %}
{% block outis_title %}Details{% endblock %}

{% block outis_staticfiles %}
{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static '/post/css/postcreate.css' %}" />
    <script src="{% static '/post/js/postcreate.js' %}"></script>
{% endblock %}

{% block outis_body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">

                    <form role="form" class="form-horizontal" action="{% url 'post:post-add' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                            {{ form.category_id }}
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                            {{ form.title }}
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                            {{ form.link }}
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                            {{ form.description }}
                        </div>


                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">@</span>
                            {{ form.tag }}
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">Attraction:</span>
                            {{ form.attraction }}
                        </div>


                        <button type="submit" class="btn btn-default">Submit</button>

                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
