@font-face {
    font-family:'GreatVibes-Regular';
    src: url('/static/font/GreatVibes-Regular.ttf');
}

body {
    background:#F8F8F8;
    padding-top: 70px;
    //padding-bottom: 50px;
}


.navbar input {
	border-radius: 0;
}

#outis-navbar {
    background:#C0C0C0;
}


#outis-navbar * {
    color:#000000;
}

#mainContentDiv {
    padding:25px;
}
