<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block outis_title %}Outis Space{% endblock %}</title>

</head>

<body>
<header class="navbar navbar-fixed-top" id="outis-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">OS</a>
        </div>

        <!-- item -->
        <nav class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li>
                    <a  href="{% url 'post:base' %}">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;Home
                    </a>
                </li>


                <li>
                    <a  href="{% url 'post:music' %}">
                        <span class="glyphicon glyphicon-music"></span>&nbsp;Music
                    </a>
                </li>

                <li>
                    <a  href="{% url 'post:video' %}">
                        <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Video
                    </a>
                </li>

                <li>
                    <a  href="{% url 'post:misc' %}">
                        <span class="glyphicon glyphicon-th-large"></span>&nbsp;Misc
                    </a>
                </li>

            </ul>

            <ul class="nav navbar-nav col-md-5" style="display:none;">
                <li style="width:100%;">
                    <form class="navbar-form form-search" method="get" action="{% url 'post:titleSearch' %}">
                        <div class="form-group" style="width:100%;">
                            <input type="text" class="form-control input-medium search-query" style="width:100%;"
                                name="q"  laceholder="Search">
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="addPostLi">
                   <a href="{% url 'post:post-add' %}" class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add a post"></a>
                </li>

            {% if user.is_authenticated %}
                <li><a  href="{% url 'user:profile' %}">{{ user.username }}</a></li>
                <li><a  href="{% url 'user:logout' %}">LOGOUT</a></li>
            {% else %}
                <li><a  href="{% url 'user:register' %}">REGISTER</a></li>
                <li><a  href="{% url 'user:login' %}">LOGIN</a></li>
            {% endif %}

            </ul>

        </nav>
    </div>
</header>


<div id="mainContentDiv">
    {% block outis_body %}
        <p>Outis</p>
    {% endblock %}
</div>



	{% load staticfiles %}
	<script type="text/javascript" src="{% static '/js/jquery-3.2.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>

	<link type="text/css" rel="stylesheet" href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}">

	<script type="text/javascript" src="{% static '/js/base.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static '/css/base.css' %}">

	{% block outis_staticfiles %}
	{% endblock %}

</body>
</html>

